<%= form_with(model: dog_breed, local: true) do |form| %>
  <% if dog_breed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dog_breed.errors.count, "error") %> prohibited this dog_breed from being saved:</h2>

      <ul>
      <% dog_breed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dog_id %>
    <%= form.text_field :dog_id %>
  </div>

  <div class="field">
    <%= form.label :breed_id %>
    <%= form.text_field :breed_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
