<p id="notice"><%= notice %></p>

<p>
  <strong>Dog:</strong>
  <%= @dog_breed.dog %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @dog_breed.breed %>
</p>

<%= link_to 'Edit', edit_dog_breed_path(@dog_breed) %> |
<%= link_to 'Back', dog_breeds_path %>
