
<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title></title>
 </head>
 <body>
   <div class="container">

   <p id="notice"><%= notice %></p>
<h1><%= "Hello, #{@owner.name}!" %></h1>
<h2><%= "These Are The Dogs You've Successfully Adopted!" %></h2>

<% @dogs.each do |dog| %>
  <div class="row">
    <div class="col-4">
      <ul class ="list-group">
        
        <li class="list-group-item"><%= link_to dog.name, dog %></li>

      </ul>
    </div>
    <div class="col-4">
      <li class="list-group-item"> <%= image_tag dog.image_url, :class => "img-fluid", :style => 'height: 350px'%></li>
    </div>
    </div>
    <% end %>
    </div>
    <%= link_to 'Back', owners_path %>
  </body>
</html>
