
<h1><%= "Hello, #{@owner.name}!" %></h1>
<p id="notice"><%= notice %></p>

<% @dogs.each do |dog| %>
<%=link_to dog.name, dog%>
<p><%= image_tag dog.image_url%></p>
<% end %>


<h3><%= link_to 'Edit Name', edit_owner_path(@owner) %> | <%= link_to 'Back', owners_path %></h3>
