
<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title></title>
 </head>
 <body>
   <div class="container">

   <p id="notice"><%= notice %></p>
<h1><%= "Hello, #{@owner.name}!" %></h1>
<h2><%= "These Are The Dogs You've Successfully Adopted!" %></h2>

<% @dogs.each do |dog| %>
  <div class="row">
    <div class="col-4">
      <ul class ="list-group">
        
        <li class="list-group-item"><%= link_to dog.name, dog %></li>


<h3><%= link_to 'Edit Name', edit_owner_path(@owner) %> | <%= link_to 'Back', owners_path %></h3>

