
<%= form_with(model: dog, local: true) do |form| %>
  <% if dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

      <ul>
      <% dog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :owner_id %>
    <%= form.collection_select :owner_id, Owner.all, :id, :name  %>
  </div>

<br>

<h4>Would you like to sign up your dog for training?</h4>
<h5>Please select one of our qualified trainers.</h5>
<%= link_to 'View Trainers', trainers_path %>
  <div class="field">
    <%= form.label :trainer_id %>
    <%= form.collection_select :trainer_id, Trainer.all, :id, :name  %>
  </div>



  <div class="actions">
    <%= form.submit "Submit"%>
  </div>
<% end %>
