<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">

    <p id="notice"><%= notice %></p>

    <h1>Dogs</h1>

    <%= link_to 'New Dog', new_dog_path %>

    <% @dogs.each do |dog| %>
        <div class="row">
        <div class="col-4">
        <ul class = "list-group">
          <li class="list-group-item">Name: <%= link_to dog.name, dog_path(dog.id) %></li>
          <li class="list-group-item">Age: <%= dog.age %></li>
          <li class="list-group-item">Size: <%= dog.size %></li>
          <li class="list-group-item">Bio: <%= dog.bio %></li>
          <li class="list-group-item"><%= link_to 'Adopt', edit_dog_path(dog) %></li>
          <li class="list-group-item"><%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
        </div>
        <div class="col-8">
        <li class="list-group-item"> <%= image_tag dog.image_url, :class => "img-fluid" %></li>
        </div>
        </div>
        <% end %>

    </div>
  </body>
</html>
