<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Breeds:</strong>

  <% @breeds.each do |breed|%>

  <%= link_to breed.name, breed_path(breed) %>
  <%end%>
</p>

<p>
  <strong>Age:</strong>
  <%= @dog.age %>
</p>

<p>
  <strong>Size:</strong>
  <%= @dog.size %>
</p>

<p>
  <strong>Kids compatible?</strong>
  <% kid_comp = @dog.kids_compatible.to_s %>
  <%= kid_comp == "true"? "Yes" : "No" %>

</p>

<p>
  <strong>Pets compatible?</strong>
  <% pets_comp = @dog.pets_compatible %>
  <%= pets_comp == "true"? "Yes" : "No" %>
</p>

<p>
  <strong>Fixed?</strong>
  <% fix = @dog.fixed.to_s %>
  <%= fix == "true"? "Yes" : "No"  %>
</p>

<p>
  <strong>Vaccinated?</strong>
  <% vacc = @dog.vaccinated.to_s %>
    <%= vacc == "true"? "Yes" : "No"  %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @dog.bio %>
</p>

<p>
  <%= link_to image_tag @dog.image_url %>
</p>

<%= link_to 'Adopt', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
