<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-4">
<ul class ="list-group">
  <li class="list-group-item">Name: <%= @dog.name %></li>
  <li class="list-group-item"> Breed:
  <% @breeds.each do |breed| %>
  <%= link_to breed.name, breed_path(breed) %>
  <% end %>
  </li>
  <li class="list-group-item">Age: <%= @dog.age %></li>
  <li class="list-group-item">Size: <%= @dog.size %></li>
  <li class="list-group-item">Bio: <%= @dog.bio %></li>
  <% kid_comp = @dog.kids_compatible.to_s %>
  <li class="list-group-item">Kid Friendly? <%= kid_comp == "true"? "Yes" : "No" %>
  <% pets_comp = @dog.pets_compatible.to_s %>
  <li class="list-group-item">Pet Friendly? <%= pets_comp == "true"? "Yes" : "No" %>
  <% fix = @dog.fixed.to_s %>
  <li class="list-group-item">Fixed? <%= fix == "true"? "Yes" : "No" %>
  <% vacc = @dog.vaccinated.to_s %>
  <li class="list-group-item">Vaccinated? <%= vacc == "true"? "Yes" : "No" %>
  <li class="list-group-item"><%= link_to 'Adopt', edit_dog_path(@dog) %></li>
  </ul>
</div>
<div class="col-4">
<li class="list-group-item"> <%= image_tag @dog.image_url, :class => "img-fluid" %></li>
</div>
</div>
