<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @breed.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @breed.size %>
</p>

<p>
  <strong>Temperament:</strong>
  <%= @breed.temperament %>
</p>

<p>
  <strong>Life expectancy:</strong>
  <%= @breed.life_expectancy %>
</p>

<p>
  <strong>Description:</strong>
  <%= @breed.description %>
</p>

<%= link_to 'Edit', edit_breed_path(@breed) %> |
<%= link_to 'Back', breeds_path %>
