<p id="notice"><%= notice %></p>

<p>
  <strong>Breed:</strong>
  <%= @breed.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @breed.size %>
</p>

<p>
  <strong>Temperament:</strong>
  <%= @breed.temperament %>
</p>

<p>
  <strong>Life expectancy:</strong>
  <%= @breed.life_expectancy %>
</p>

<p>
  <strong>Description:</strong>
  <%= @breed.description %>
</p>


<%= link_to 'Back', dogs_path %>
