<p id="notice"><%= notice %></p>

<h1>Trainers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Available on weekends</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainers.each do |trainer| %>
      <tr>
        <td><%= link_to trainer.name, trainer_path(trainer.id) %></td>
        <td><%= trainer.bio %></td>
        <% avail = trainer.available_on_weekends.to_s %>
        <td><%= avail == "true"? "Yes" : "No"%></td>
        <td><%= link_to 'Assign Trainer', edit_trainer_path(trainer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
