<p id="notice"><%= notice %></p>


<div class="row">
<div class="col-4">
<ul class ="list-group">
<li class="list-group-item">Name: <%= @trainer.name %></li>
<li class="list-group-item">Bio: <%= @trainer.bio %></li>
<% avail = @trainer.available_on_weekends.to_s %>
<li class="list-group-item">Available on weekends? <%= avail == "true"? "Yes" : "No" %></li>
</ul>
</div>
<div class="col-8">
<li class="list-group-item"> <%= image_tag "http://static1.squarespace.com/static/52e05773e4b03a73a07d892c/530274dfe4b05f10a2c7bb18/5b20754a0e2e72c2ed6a37ba/1538001231194/?format=1500w" %></li>
</div>
</div>

<br>
<br>

<div class="row">
<div class="col-5">
<ul class ="list-group">
<li class ="list-group-item"><%= "These are the dogs that #{@trainer.name} is training." %></li>
<% @dogs.each do |dog| %>
<li class ="list-group-item"><%=link_to dog.name, dog%></li>
<% end %>
</ul>
</div>
</div>

<br>
<br>

<h3><%= link_to 'Back', trainers_path %></h3>
