<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trainer.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @trainer.bio %>
</p>

<p>
  <strong>Available on weekends:</strong>
  <%= @trainer.available_on_weekends %>
</p>

<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
