<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trainer.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @trainer.bio %>
</p>

<p>
  <strong>Available on weekends?</strong>
  <% avail = @trainer.available_on_weekends.to_s %>
  <%= avail == "true"? "Yes" : "No" %>
</p>

<% @dogs.each do |dog| %>
<%=link_to dog.name, dog%>
<%= image_tag dog.image_url%>
<% end %>

<%= link_to 'Assign Trainer', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %> |
<%= link_to 'Dogs', dogs_path %>
