<!DOCTYPE html>
<html>
  <head>
    <title>AdoptionApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"%>
    <%= stylesheet_link_tag    'application'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-link"><%= link_to "Pups Page", dogs_path %></a>
    <a class="nav-link"><%= link_to "Owners Page", owners_path %></a>
    <a class="nav-link"><%= link_to "Trainers Page", trainers_path %></a>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
